<!DOCTYPE html>
<html>
  <head>
    <title>ArticleApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <h1>Naren</h1>
  <a href="https://www.railstutorial.org/book" >STUDY ABOUT RAILS</a>
  <<img src="https://drive.google.com/open?id=1bNUcq6ZeZzlvFQA1G9--o_9EFpuJScaM" alt="Naren" width="75" height="75">
  <body>
  <% flash.each do |name,msg|  %>
  <ul>
    <li><%= msg %></li>
  </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
